force-app/main/default/flows/Generate_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Actions</name>
        <label>Generate Actions</label>
        <locationX>498</locationX>
        <locationY>414</locationY>
        <actionName>Generate_AI_Actions</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Update_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Alerts</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Generate_AI_Actions</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AIGeneratedActionList</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>Action1</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!AIGeneratedActionList}, &quot;,&quot;),
    LEFT({!AIGeneratedActionList}, FIND(&quot;,&quot;, {!AIGeneratedActionList}) - 1),
    {!AIGeneratedActionList}
)</expression>
    </formulas>
    <formulas>
        <name>Action2</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!AIGeneratedActionList}, &quot;,&quot;),
    MID({!AIGeneratedActionList}, FIND(&quot;,&quot;, {!AIGeneratedActionList}) + 2, LEN({!AIGeneratedActionList})),
    &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>Generate Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Alert</name>
        <label>Update Alert</label>
        <locationX>817</locationX>
        <locationY>561</locationY>
        <inputAssignments>
            <field>AI_Identified_Action_1__c</field>
            <value>
                <elementReference>Action1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Identified_Action_2__c</field>
            <value>
                <elementReference>Action2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>406</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Generate_Actions</targetReference>
        </connector>
        <object>Sales_Alerts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AIGeneratedActionList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
